<script lang="ts">
	import { type Link, SocialLink } from '$lib/button-link'
	import { environment } from '$lib/environment'

	const { patreonUrl, instagramUrl, youtubeUrl, facebookUrl } = environment()

	const links: Link[] = [
		{ url: instagramUrl, type: 'instagram', text: 'Instagram' },
		{ url: youtubeUrl, type: 'youtube', text: 'Youtube' },
		{ url: patreonUrl, type: 'patreon', text: 'Patreon' },
		{ url: facebookUrl, type: 'facebook', text: 'Facebook' },
		{ url: '/', type: 'home', text: 'Hemsida' },
	]
</script>

<svelte:head>
	<title>Link Tree</title>
	<meta name="description" content="Social media and contact links" />
</svelte:head>

<div class="content readable-column-width">
	<section class="sub-section body-M">
		<h1 class="heading-XL">Länkar till Musikens&nbsp;Hus på andra forum</h1>
		<div class="link-section">
			{#each links as link}
				<SocialLink {link} />
			{/each}
		</div>
	</section>
</div>

<style>
	.content {
		--row-divider-color: lch(70% var(--yellow-ch));
		display: grid;
		row-gap: var(--space-l);
		margin: 0 auto;
		padding-block: var(--space-l);
		padding-inline: var(--space-s);
	}

	.sub-section {
		display: grid;
		gap: var(--space-l);
	}

	.link-section {
		display: grid;
		gap: var(--space-s);
	}
</style>
