<script lang="ts">
	import Nav from '$lib/nav/nav.svelte'
	import BottomNav from '$lib/nav/bottom-nav.svelte'
	import Footer from '$lib/footer/footer.svelte'
	import '../app.postcss'
	import SidePanel from './side-panel.svelte'
	import SidePanelNav from '$lib/nav/side-panel-nav.svelte'
	import { page } from '$app/stores'
	import { goto, afterNavigate } from '$app/navigation'
	import PageTransition from './page-transition.svelte'

	export let data

	afterNavigate((navigation) => {
		if (navigation.to?.url.hash) return
		document.querySelector('.overflow-y-auto')?.scrollTo(0, 0)
	})

	const queryParamKey = 'is-side-panel-open'

	const replaceStateWithQuery = (values: Record<string, string | undefined>) => {
		const { url } = $page
		const searchParams = new URLSearchParams(url.searchParams)

		for (const [key, value] of Object.entries(values)) {
			value
				? searchParams.set(encodeURIComponent(key), encodeURIComponent(value))
				: searchParams.delete(key)
		}

		goto(url.pathname + '?' + searchParams.toString() + url.hash, {
			keepFocus: true,
			replaceState: false,
			noScroll: true,
		})
	}

	$: isSidePanelOpenParam = $page.url.searchParams.get(queryParamKey) === 'true'
</script>

<svelte:head>
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Musikens hus" />
	<meta
		property="og:description"
		content="Musikens hus - Best coworking space for music creatives"
	/>
	<meta property="og:image" content="/house/house-with-roses.jpg" />
</svelte:head>

<div class="site">
	<div class="only-desktop-holder">
		<Nav />
	</div>
	<div class="rest-of-vertical overflow-y-auto">
		<main class="rest-of-vertical">
			<PageTransition url={data.url}>
				<slot />
			</PageTransition>
		</main>
		<Footer />
	</div>
	<div class="only-mobile-holder">
		<BottomNav onMoreClick={() => replaceStateWithQuery({ [queryParamKey]: 'true' })} />
	</div>
	<SidePanel
		isOpen={isSidePanelOpenParam}
		onClose={() => replaceStateWithQuery({ [queryParamKey]: 'false' })}
	>
		<SidePanelNav />
	</SidePanel>
</div>

<style>
	.site {
		height: 100svh;
		width: 100svw;
		min-width: 100svw;
		display: flex;
		flex-direction: column;
	}

	main {
		width: 100%;
		margin: 0;
		box-sizing: border-box;
	}

	.rest-of-vertical {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 100%;
		/* min-height: 0; */
		/* position: relative; */
		/* height: 100%; */
	}

	div,
	.rest-of-vertical {
		position: relative;
	}

	.overflow-y-auto {
		overflow-y: auto;
	}

	.only-desktop-holder {
		display: block;
	}

	.only-mobile-holder {
		display: none;
	}

	@media screen and (max-width: 830px) {
		.only-mobile-holder {
			display: block;
		}

		.only-desktop-holder {
			display: none;
		}
	}
</style>
