<script lang="ts">
	import ButtonLink from '$lib/button-link.svelte'

	import { environment } from '$lib/environment'
	import { navigation } from '$lib/navigation'

	const now = new Date()
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Home" />
</svelte:head>

<!-- Good blog inspo -->
<!-- https://joyofcode.xyz/sveltekit-markdown-blog -->

<section class="hero">
	<figure>
		<enhanced:img
			src="$assets/stage/stage-with-guitar.jpg"
			fetchpriority="high"
			loading="eager"
			alt="Cozy stage with guitar and piano"
			class="image"
		/>
		<figcaption class="hero-text">
			<div class="hero-text-container">
				<div class="border-shade"></div>
				<h1 class="heading-L readable-column-width">
					Norrköpings härligaste mötesplats för personer och företag som verkar inom musikbranschen
				</h1>
			</div>
		</figcaption>
	</figure>
</section>

{#if now < new Date('2024-09-30')}
	<section class="readable-column-width upcoming-event">
		<h2 class="heading-M">Just nu: Kulturnatten i Knäppingsborg</h2>
		<p class="body-M">
			{`${now > new Date('2024-09-27') ? 'Nu' : 'Snart'} är Kulturnatten här och det händer massor spännande grejer i Knäppingsborg.`}
		</p>

		<div class="button-link-container">
			<ButtonLink href="/event-information/culture-night-2024" variant="secondary">
				Mer om Kulturnatten
			</ButtonLink>
		</div>
	</section>
{/if}

<section class="services">
	<article class="card readable-column-width">
		<h2 class="heading-M">Coworking</h2>
		<p class="body-M">
			Musikens hus fungerar som ett coworking space med både öppna kontorsytor liksom exklusiva
			studiorum. Denna kreativa plats erbjuder individer och företag att både jobba, samverka och
			utvecklas tillsammans.
		</p>
		<ButtonLink href={navigation.membership._root} width="100%">Läs mer</ButtonLink>
	</article>

	<article class="card readable-column-width">
		<h2 class="heading-M">Produktion</h2>
		<p class="body-M">
			I våra studios produceras det musik varje dag och vi hjälper gärna till med inspelning och
			produktion. Det går såklart även att spela in t.ex. podcast och ljudbok.
		</p>
		<ButtonLink href={navigation.musicProduction._root} width="100%">Producera mera</ButtonLink>
	</article>

	<article class="card readable-column-width">
		<h2 class="heading-M">Event</h2>
		<p class="body-M">
			I det fantastiska kvarteret Knäppingsborg där vi håller till sätter vi regelbundet upp olika
			evenemang. Vi gör även roliga event för t.ex. möhippa, svensexa eller kickoff.
		</p>
		<ButtonLink href={navigation.events._root} width="100%">Fixa event</ButtonLink>
	</article>
</section>

<style>
	.hero {
		position: relative;
	}

	.image {
		max-height: 40vh;
		width: 100%;
		object-fit: cover;
	}

	.hero-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		/* height: 50%; */
		min-height: 100%;
		background: lch(5% var(--gray-ch) / 0.3);
		/* border-top: 2px solid lch(60% var(--yellow-ch)); */
		display: grid;
		align-items: center;
		justify-content: center;
		text-align: start;
		padding: var(--space-m);
		--offset: calc(var(--space-2xs) * 0.8);
	}

	.hero-text .heading-L {
		/* color: lch(95% var(--gray-ch)); */
		color: lch(90% var(--yellow-ch));
		/* text-shadow: #FC0 1px 0 10px; */
		/* text-shadow: lch(95% var(--yellow-ch)) 1px 0 10px; */
		color: lch(95% var(--yellow-ch));
		/* text-shadow: lch(95% var(--yellow-ch)) 1px 0 1px; */
		text-shadow: var(--offset) var(--offset) lch(25% var(--yellow-ch) / 0.6);
		/* border-left: 4px solid lch(100% var(--yellow-ch)); */
		/* padding-left: 1rem; */
		/* border-right: 4px solid lch(90% var(--yellow-ch)); */
		/* padding-right: 1rem; */
		/* color: white; */
		padding: var(--space-m);
		position: relative;
		text-align: center;
	}

	.hero-text-container {
		position: relative;
	}

	.hero-text-container .border-shade {
		position: absolute;
		top: calc(-1 * var(--offset));
		left: calc(-1 * var(--offset));
		width: 100%;
		height: 100%;
		border: 2px solid lch(90% var(--yellow-ch));
		border-radius: var(--border-radius-m);
		background: rgb(0 0 0 / 0.1);
		backdrop-filter: blur(3px);
	}

	.hero-text-container .border-shade::before {
		content: '';
		position: absolute;
		top: calc(var(--offset) * 2);
		left: calc(var(--offset) * 2);
		width: 100%;
		height: 100%;
		border: 2px solid lch(50% var(--red-ch));
		border-radius: var(--border-radius-m);
		background: rgb(0 0 0 / 0.1);
		backdrop-filter: blur(10px);
	}

	.upcoming-event {
		display: grid;
		padding-top: var(--space-l);
		padding-inline: var(--space-s);
		row-gap: var(--space-s);
		/* max-width: 1500px; */
		margin-inline: auto;
	}

	.services {
		padding: var(--space-l) var(--space-s);
		display: grid;
		row-gap: var(--space-m);
		column-gap: var(--space-m);
		/* width: 100%; */
		max-width: 1500px;
		margin-inline: auto;
		justify-items: center;
		/* grid-template-columns: 1fr 1fr 1fr; */
	}

	.card {
		/* display: grid; */
		min-width: 300px;
		row-gap: var(--space-m);
		display: flex;
		flex-direction: column;
		padding: var(--space-s);
		border: 2px solid lch(70% var(--yellow-ch));
		border-radius: var(--border-radius-m);
	}

	.card .body-M {
		flex-grow: 1;
	}

	@media only screen and (min-width: 1170px) {
		.button-link-container {
			display: flex;
			justify-content: center;
		}
		.services {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
</style>
