<script lang="ts">
	import { fade, slide, blur, crossfade, fly, draw, scale } from 'svelte/transition'

	export let url: string
</script>

{#key url}
	<div class="transition" in:blur={{ amount: 10, duration: 150 }}>
		<slot />
	</div>
{/key}

<style>
	.transition {
		height: 100%;
	}
</style>
