<script lang="ts">
	import HorizontalLine from '$lib/horizontal-line.svelte'
	import { CloseCircleSolid } from 'flowbite-svelte-icons'
	import { fly } from 'svelte/transition'
	import logo from '../lib/nav/musikens-hus-logo.svg'
	import { navigation } from '$lib/navigation'

	export let isOpen = false
	export let onClose: () => void = () => {}
</script>

<div class:open={isOpen} class="side-panel-wrapper">
	{#if isOpen}
		<button class="side-panel-outside" on:mousedown={onClose}></button>
		<div transition:fly={{ x: '100%', duration: 150 }} class="side-panel">
			<a href={navigation.home} class="logo-link">
				<span class="heading-M">Musikens Hus</span>
				<img src={logo} alt="Musikens hus logo" />
			</a>
			<HorizontalLine />
			<div class="content">
				<slot {isOpen} {onClose} />
			</div>
			<HorizontalLine />
			<button on:mousedown={onClose} class="close-button">
				<span>Stäng</span>
				<CloseCircleSolid />
			</button>
		</div>
	{/if}
</div>

<style>
	.side-panel-wrapper {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		display: flex;
		pointer-events: none;
		transition: background 0.25s ease;
		background: rgba(0, 0, 0, 0);
		overflow: hidden;
    z-index: 1;
	}

	.side-panel-wrapper.open {
		background: rgba(0, 0, 0, 0.45);
		pointer-events: initial;
	}

	.side-panel-outside {
		height: 100%;
    flex-grow: 1;
	}

	.side-panel {
		width: min(80vw, 475px);
		height: 100%;
		background: white;
		border-left: 2px solid lch(70% var(--yellow-ch));
		display: flex;
		flex-direction: column;
	}

	.content {
		/* padding: 1.5rem; */
		height: 100%;
		display: flex;
		flex-direction: column-reverse;
		flex-grow: 1;
		overflow-y: auto;
    padding-block: var(--space-m);
	}

	.logo-link {
		display: flex;
		padding: var(--space-s);
		justify-content: space-between;
		align-items: center;
	}

	.close-button {
		display: flex;
		gap: var(--space-xs);
		align-items: center;
		padding: var(--space-s);
		width: 100%;
		/* background: green; */
		justify-content: end;
		color: rgb(var(--gray-80));
	}
</style>
