/* Write your global styles here, in PostCSS syntax */
@import '@fontsource/fira-mono';
@import 'typography.css';
@import 'colors.css';
@import 'global.css'
@tailwind base;

:root {
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: lch(70% var(--yellow-ch));
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-max-width: clamp(200px, calc(200px + 47vw), 1100px);
}

html {
	min-width: 100vw;
}

body {
	margin: 0;
	width: 100vw;
}

body > div {
	width: 100%;
}

/* #svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
} */

a {
	color: var(--accent-color);
	text-decoration: none;
}

a {
  &[href^="http"] {
    &:not(.image-link):not(.ignore-external) {
      &::after {
        content: " \2197\0020";
        white-space: nowrap;
      }
    }
  }
}

a:hover {
	text-decoration: underline;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

img {
	display: block;
}

.readable-column-width {
	max-width: var(--column-max-width);
}

@tailwind components;

@tailwind utilities;
