@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue-10: 219 227 242;
    --blue-20: 183 199 229;
    --blue-30: 148 172 215;
    --blue-40: 112 144 202;
    --blue-50: 76 116 189;
    --blue-60: 61 93 151;
    --blue-70: 46 70 113;
    --blue-80: 30 46 76;
    --blue-90: 15 23 38;

    --gray-10: 230 229 230;
    --gray-20: 204 203 205;
    --gray-30: 179 178 179;
    --gray-40: 153 152 154;
    --gray-50: 128 126 129;
    --gray-60: 102 101 103;
    --gray-70: 77 76 77;
    --gray-80: 51 50 52;
    --gray-90: 26 25 26;

    --red-10: 243 222 217;
    --red-20: 231 190 178;
    --red-30: 220 157 140;
    --red-40: 208 125 101;
    --red-50: 196 92 63;
    --red-60: 157 74 50;
    --red-70: 118 55 38;
    --red-80: 78 37 25;
    --red-90: 39 18 13;

    --yellow-10: 252 240 214;
    --yellow-20: 249 225 172;
    --yellow-30: 245 209 131;
    --yellow-40: 242 194 89;
    --yellow-50: 239 179 48;
    --yellow-60: 191 143 38;
    --yellow-70: 143 107 29;
    --yellow-80: 96 72 19;
    --yellow-90: 48 36 10;

    --blue-hue: 281.36;
    --blue-chroma: 43.46;
    --blue-ch: var(--blue-chroma) var(--blue-hue);

    --gray-hue: 314.69;
    --gray-chroma: 1.92;
    --gray-ch: var(--gray-chroma) var(--gray-hue);

    --red-hue: 42.44;
    --red-chroma: 53.5;
    --red-ch: var(--red-chroma) var(--red-hue);

    /* --yellow-hue: 81.34; */
    /* lch(70.14% 75.65 69.34) */
    /* lch(70% 69.34 65.65) */
    --yellow-chroma: 69.34;
    --yellow-hue: 65.65;
    --yellow-ch: var(--yellow-chroma) var(--yellow-hue);

    --primary-gradient-angle: 43deg;

    --primary-gradient: var(--primary-gradient-angle), lch(50% var(--red-ch)) 0%,
      lch(75% var(--yellow-ch)) 100%;
    --primary-gradient-lighter: var(--primary-gradient-angle), lch(55% var(--red-ch)) 0%,
      lch(80% var(--yellow-ch)) 100%;
    --primary-gradient-darker: var(--primary-gradient-angle), lch(50% var(--red-ch)) 0%,
      lch(65% var(--yellow-ch)) 100%;
  }
}
