@layer base {
  body {
    --space-static-3xs: 0.5rem;
    --space-static-2xs: 0.65rem;
    --space-static-xs: 1.15rem;
    --space-static-s: 1.88rem;
    --space-static-m: 2.9rem;
    --space-static-l: 4.3rem;
    --space-static-xl: 6rem;
    --space-static-2xl: 8rem;

    --space-2xs: min(calc(var(--space-static-3xs) + 0.1vw / 0.75), var(--space-static-2xs));
    --space-xs: min(calc(var(--space-static-2xs) + 0.45vw / 0.75), var(--space-static-xs));
    /* This one seems pretty good. Go back to the smallest and make it good. Then largest. Then use function to generate. */
    --space-s: min(calc(var(--space-static-xs) + 0.6vw / 0.75), var(--space-static-s));
    --space-m: min(calc(var(--space-static-s) + 0.7vw / 0.75), var(--space-static-m));
    --space-l: min(calc(var(--space-static-m) + 0.9vw / 0.75), var(--space-static-l));
    --space-xl: min(calc(var(--space-static-l) + 1.1vw / 0.75), var(--space-static-xl));
    --space-2xl: min(calc(var(--space-static-xl) + 1.3vw / 0.75), var(--space-static-2xl));

    --border-radius-m: 1rem;
  }

  body,
  body * {
    scrollbar-width: thin;
  }

  .button-like {
    --transition: all 0.2s ease;
    --border-radius: var(--border-radius-m);
    --border-width: clamp(0.2rem, calc(0.15rem + 0.1vw), 0.3rem);
    --full-size: calc(100% + (var(--border-width) * 2));
    --full-start: calc(var(--border-width) * -1);
    --hover-shade: rgb(255 220 220);
    --hover-shade-opacity: 0.2;

    border-radius: var(--border-radius);
    padding: var(--space-xs) var(--space-s);
    white-space: nowrap;
    background-size: calc(100% + (var(--border-width) * 2)) auto;
    transition: var(--transition);
    border: var(--border-width) solid transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: var(--space-s);
    position: relative;
    justify-content: space-between;
    justify-self: var(--justify-self, initial);
    background-position-x: var(--full-start);
    background-size: var(--full-size) auto;
    width: var(--width, initial);
    max-width: var(--max-width, initial);
    color: var(--color, white);

    & span:first-child {
      width: var(--icon-size, 24px);
    }

    & span:last-child {
      width: var(--icon-size, 24px);
    }
  }

  .button-like>* {
    transition: var(--transition);
    z-index: 1;
    color: currentColor;
  }

  .button-like:link,
  .button-like:visited,
  .button-like:hover,
  .button-like:active {
    text-decoration: none;
  }

  .button-like:hover>*:last-child {
    transform: translateX(0.5rem) scale(1.15);
  }

  .button-like::before,
  .button-like::after {
    content: '';
    position: absolute;
    width: var(--full-size);
    height: var(--full-size);
    top: var(--full-start);
    left: calc(var(--border-width) * -1);
    transition: var(--transition);
  }

  .button-like::before {
    opacity: 0.3;
    z-index: -1;
    border-radius: var(--border-radius);
    filter: blur(var(--space-m));
    transform: scale(0.7);
  }

  .button-like::after {
    opacity: 0;
    border-radius: var(--border-radius);
    background: lch(90% var(--yellow-ch));
  }

  .button-like.primary::after {
    background: lch(90% var(--yellow-ch));
  }

  .button-like.secondary::after {
    background: lch(60% var(--yellow-ch) / 0.3);
  }

  .button-like.primary {
    background:
      linear-gradient(var(--primary-gradient-lighter)) padding-box,
      linear-gradient(var(--primary-gradient-lighter)) border-box;
    color: white;
  }

  .button-like.primary::before {
    background: linear-gradient(var(--primary-gradient-lighter));
  }

  .button-like.secondary {
    color: lch(60% var(--yellow-ch));
    background:
      linear-gradient(white, white) padding-box,
      linear-gradient(var(--primary-gradient)) border-box;
  }

  .button-like.secondary>*:first-child {
    background: -webkit-linear-gradient(var(--primary-gradient));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .button-like.secondary::before {
    background: linear-gradient(var(--primary-gradient-lighter));
  }

  .button-like.secondary:hover {
    background:
      linear-gradient(white, white) padding-box,
      linear-gradient(var(--primary-gradient)) border-box;
  }

  .button-like:hover::before {
    transform: scale(1.1);
  }

  .button-like:hover::after {
    opacity: var(--hover-shade-opacity);
  }

  .text-link {
    color: lch(60% var(--blue-ch));
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
