@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Maybe add fonts from this: https://fontsource.org/ , Manrope is a nice one */

:root {
  --primary-font-family: 'Zen Kaku Gothic Antique', Arial, Ubuntu, 'Open Sans', sans-serif;
  --heading-font-family: 'Oswald', Arial, Ubuntu, 'Open Sans', sans-serif;
  --playful-font-family: "Permanent Marker", cursive;
  --fluid-size-divisor: 0.75;
  --relative-size-divisor: 1.7;
  font-family: var(--primary-font-family);
}

.text-shadow {
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.heading-2XL,
.heading-XL,
.heading-L,
.heading-M,
.heading-S {
  text-wrap: balance;
  font-style: normal;
}

.body-L,
.body-M,
.body-S,
.body-XS {
  font-style: normal;
}

.action-L,
.action-M {
  font-style: normal;
}

.heading-2XL {
  --min-font-size-in-rem: 3;
  --min-line-height-in-rem: 3.5;
  --min-font-size-as-rem: calc(var(--min-font-size-in-rem) * 1rem);
  --min-line-height-as-rem: calc(var(--min-line-height-in-rem) * 1rem);
  --font-size: clamp(var(--min-font-size-as-rem),
      calc(var(--min-font-size-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-font-size-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-font-size-as-rem) * 2));
  --line-height: clamp(var(--min-line-height-as-rem),
      calc(var(--min-line-height-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-line-height-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-line-height-as-rem) * 2));

  font-family: var(--heading-font-family);
  font-weight: 900;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.heading-XL {
  --min-font-size-in-rem: 2;
  --min-line-height-in-rem: 2.25;
  --min-font-size-as-rem: calc(var(--min-font-size-in-rem) * 1rem);
  --min-line-height-as-rem: calc(var(--min-line-height-in-rem) * 1rem);
  --font-size: clamp(var(--min-font-size-as-rem),
      calc(var(--min-font-size-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-font-size-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-font-size-as-rem) * 2));
  --line-height: clamp(var(--min-line-height-as-rem),
      calc(var(--min-line-height-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-line-height-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-line-height-as-rem) * 2));

  font-family: var(--heading-font-family);
  font-weight: 900;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.heading-L {
  --min-font-size-in-rem: 1.5;
  --min-line-height-in-rem: 1.75;
  --min-font-size-as-rem: calc(var(--min-font-size-in-rem) * 1rem);
  --min-line-height-as-rem: calc(var(--min-line-height-in-rem) * 1rem);
  --font-size: clamp(var(--min-font-size-as-rem),
      calc(var(--min-font-size-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-font-size-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-font-size-as-rem) * 2));
  --line-height: clamp(var(--min-line-height-as-rem),
      calc(var(--min-line-height-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-line-height-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-line-height-as-rem) * 2));

  font-family: var(--heading-font-family);
  font-weight: 900;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.heading-M {
  --min-font-size-in-rem: 1.25;
  --min-line-height-in-rem: 1.5;
  --min-font-size-as-rem: calc(var(--min-font-size-in-rem) * 1rem);
  --min-line-height-as-rem: calc(var(--min-line-height-in-rem) * 1rem);
  --font-size: clamp(var(--min-font-size-as-rem),
      calc(var(--min-font-size-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-font-size-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-font-size-as-rem) * 2));
  --line-height: clamp(var(--min-line-height-as-rem),
      calc(var(--min-line-height-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-line-height-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-line-height-as-rem) * 2));

  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.heading-S {
  --min-font-size-in-rem: 0.875;
  --min-line-height-in-rem: 1;
  --min-font-size-as-rem: calc(var(--min-font-size-in-rem) * 1rem);
  --min-line-height-as-rem: calc(var(--min-line-height-in-rem) * 1rem);
  --font-size: clamp(var(--min-font-size-as-rem),
      calc(var(--min-font-size-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-font-size-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-font-size-as-rem) * 2));
  --line-height: clamp(var(--min-line-height-as-rem),
      calc(var(--min-line-height-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-line-height-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-line-height-as-rem) * 2));

  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.body-L {
  --min-font-size-in-rem: 1;
  --min-line-height-in-rem: 1.5;
  --min-font-size-as-rem: calc(var(--min-font-size-in-rem) * 1rem);
  --min-line-height-as-rem: calc(var(--min-line-height-in-rem) * 1rem);
  --font-size: clamp(var(--min-font-size-as-rem),
      calc(var(--min-font-size-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-font-size-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-font-size-as-rem) * 2));
  --line-height: clamp(var(--min-line-height-as-rem),
      calc(var(--min-line-height-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-line-height-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-line-height-as-rem) * 2));

  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.body-M {
  --min-font-size-in-rem: 0.875;
  --min-line-height-in-rem: 1.25;
  --min-font-size-as-rem: calc(var(--min-font-size-in-rem) * 1rem);
  --min-line-height-as-rem: calc(var(--min-line-height-in-rem) * 1rem);
  --font-size: clamp(var(--min-font-size-as-rem),
      calc(var(--min-font-size-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-font-size-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-font-size-as-rem) * 2));
  --line-height: clamp(var(--min-line-height-as-rem),
      calc(var(--min-line-height-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-line-height-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-line-height-as-rem) * 2));

  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.body-S {
  --min-font-size-in-rem: 0.75;
  --min-line-height-in-rem: 1;
  --min-font-size-as-rem: calc(var(--min-font-size-in-rem) * 1rem);
  --min-line-height-as-rem: calc(var(--min-line-height-in-rem) * 1rem);
  --font-size: clamp(var(--min-font-size-as-rem),
      calc(var(--min-font-size-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-font-size-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-font-size-as-rem) * 2));
  --line-height: clamp(var(--min-line-height-as-rem),
      calc(var(--min-line-height-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-line-height-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-line-height-as-rem) * 2));

  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.body-XS {
  --min-font-size-in-rem: 0.625;
  --min-line-height-in-rem: 1;
  --min-font-size-as-rem: calc(var(--min-font-size-in-rem) * 1rem);
  --min-line-height-as-rem: calc(var(--min-line-height-in-rem) * 1rem);
  --font-size: clamp(var(--min-font-size-as-rem),
      calc(var(--min-font-size-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-font-size-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-font-size-as-rem) * 2));
  --line-height: clamp(var(--min-line-height-as-rem),
      calc(var(--min-line-height-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-line-height-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-line-height-as-rem) * 2));

  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.action-L {
  --min-font-size-in-rem: 1.25;
  --min-line-height-in-rem: 1.5;

  --min-font-size-as-rem: calc(var(--min-font-size-in-rem) * 1rem);
  --min-line-height-as-rem: calc(var(--min-line-height-in-rem) * 1rem);

  --font-size: clamp(var(--min-font-size-as-rem),
      calc(var(--min-font-size-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-font-size-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-font-size-as-rem) * 2));
  --line-height: clamp(var(--min-line-height-as-rem),
      calc(var(--min-line-height-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-line-height-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-line-height-as-rem) * 2));

  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.action-M {
  --min-font-size-in-rem: 0.875;
  --min-line-height-in-rem: 1.25;

  --min-font-size-as-rem: calc(var(--min-font-size-in-rem) * 1rem);
  --min-line-height-as-rem: calc(var(--min-line-height-in-rem) * 1rem);
  --font-size: clamp(var(--min-font-size-as-rem),
      calc(var(--min-font-size-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-font-size-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-font-size-as-rem) * 2));
  --line-height: clamp(var(--min-line-height-as-rem),
      calc(var(--min-line-height-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-line-height-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-line-height-as-rem) * 2));

  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: var(--font-size);
  line-height: var(--line-height);
}


.playful-L {
  --min-font-size-in-rem: 1.25;
  --min-line-height-in-rem: 1.5;

  --min-font-size-as-rem: calc(var(--min-font-size-in-rem) * 1rem);
  --min-line-height-as-rem: calc(var(--min-line-height-in-rem) * 1rem);

  --font-size: clamp(var(--min-font-size-as-rem),
      calc(var(--min-font-size-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-font-size-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-font-size-as-rem) * 2));
  --line-height: clamp(var(--min-line-height-as-rem),
      calc(var(--min-line-height-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-line-height-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-line-height-as-rem) * 2));

  font-family: var(--playful-font-family);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.playful-M {
  --min-font-size-in-rem: 0.875;
  --min-line-height-in-rem: 1.25;
  --min-font-size-as-rem: calc(var(--min-font-size-in-rem) * 1rem);
  --min-line-height-as-rem: calc(var(--min-line-height-in-rem) * 1rem);
  --font-size: clamp(var(--min-font-size-as-rem),
      calc(var(--min-font-size-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-font-size-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-font-size-as-rem) * 2));
  --line-height: clamp(var(--min-line-height-as-rem),
      calc(var(--min-line-height-in-rem) * 1vw / var(--fluid-size-divisor)) + calc(var(--min-line-height-as-rem) / var(--relative-size-divisor)),
      calc(var(--min-line-height-as-rem) * 2));

  font-family: var(--playful-font-family);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.heading-2XL,
.heading-XL,
.heading-L,
.heading-M,
.heading-S,
.body-L,
.body-M,
.body-S,
.body-XS,
.action-L,
.action-M,
.playful-L,
.playful-M {
  --icon-size: calc(var(--font-size) * 0.9);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  margin: 0;
  padding: 0;
  color: rgb(var(--gray-80));
}

a {
  margin: 0;
  padding: 0;
}

.text-section {
  display: grid;
  row-gap: 2rem;
  padding: 0 2rem;
}
