<svelte:head>
	<title>Creator</title>
	<meta name="description" content="Information about the membership Creator" />
</svelte:head>

<div class="content">
	<h1 class="heading-XL">Creator</h1>

	<p class="body-S">
		Vårt enklaste medlemskap. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quis
		at eligendi asperiores quod a velit quisquam laboriosam similique quia error provident
		aspernatur repudiandae cum ipsam ut non distinctio sapiente, vel perspiciatis
	</p>
	<p class="body-S">
		Vårt enklaste medlemskap. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quis
		at eligendi asperiores quod a velit quisquam laboriosam similique quia error provident
		aspernatur repudiandae cum ipsam ut non distinctio sapiente, vel perspiciatis
	</p>
	<p class="body-S">
		Vårt enklaste medlemskap. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quis
		at eligendi asperiores quod a velit quisquam laboriosam similique quia error provident
		aspernatur repudiandae cum ipsam ut non distinctio sapiente, vel perspiciatis
	</p>
</div>

<style>
	.content {
		display: grid;
		row-gap: 1rem;
		max-width: 800px;
		margin: 0 auto;
		padding: 0 2rem 4rem 2rem;
	}
</style>
