<script lang="ts">
	import RootProductionsLogo from './root-productions-logo.svg'
</script>

<img src={RootProductionsLogo} alt="Root Productions" />

<style>
	img {
		object-fit: cover;
		width: 100%;
	}
</style>
