<svelte:head>
	<title>Produktion</title>
	<meta name="description" content="Information about production" />
</svelte:head>

<div class="content readable-column-width">
	<section class="sub-section first body-M">
		<h1 class="heading-XL">Produktion</h1>

		<p>
			På Musikens hus finner du duktiga studiomusiker och tekniker. Här kan vi hjälpa dig att till
			exempel producera en låt, spela in, mixa eller göra pålägg, eller varför inte spela in
			podcasts eller ljudböcker?
		</p>

		<enhanced:img
			src="$assets/music-production/aron-producing.jpg"
			fetchpriority="high"
			loading="eager"
			alt="Guy producing music at computer"
			class="image producer"
		/>

		<p>Hör av dig till oss idag och berätta hur vi kan hjälpa dig!</p>
	</section>
</div>

<style>
	.content {
		--row-divider-color: lch(70% var(--yellow-ch));
		display: grid;
		row-gap: var(--space-l);
		margin: 0 auto;
		padding-block: var(--space-l);
		padding-inline: var(--space-s);
	}

	.sub-section {
		display: grid;
	}

	.first {
		gap: var(--space-s);
	}

	.image {
		width: 100%;
		object-fit: cover;
	}

	.image.producer {
		object-position: 50% 30%;
	}
</style>
