<script lang="ts">
	import { page } from '$app/stores'
	import { navigation } from '$lib/navigation'
	import { links } from './links'
	import logo from './musikens-hus-logo.svg'
	import { GridSolid } from 'flowbite-svelte-icons'

	export let onMoreClick: () => void = () => {}
</script>

<nav data-sveltekit-prefetch>
	<ul>
		<li class="first">
			<a href={navigation.home}>
				<img src={logo} alt="Musikens hus logo" />
			</a>
		</li>

		{#each links.bottomNav as { path, displayName, icon: Icon }, index}
			<li
				class:active={$page.url.pathname === path}
				class:dash-after={index !== links.bottomNav.length - 1}
				class="body-S nav-item"
			>
				<a href={path} class="nav-link"
					><svelte:component this={Icon} size="lg" />
					<span class="nav-text">
						{displayName}
					</span>
				</a>
			</li>
		{/each}

		<li class="body-S nav-item nav-link last">
			<button class="nav-link" on:mousedown={onMoreClick}>
				<GridSolid size="lg" />
				<span class="nav-text"> Mer </span>
			</button>
		</li>
	</ul>
</nav>

<style>
	nav {
		border-top: 2px solid lch(70% var(--yellow-ch));
	}

	a img {
		height: clamp(2rem, 5.5vw, 3.5rem);
		object-fit: contain;
	}

	ul {
		padding: 1rem;
		position: relative;
		margin: 0;
		display: grid;
		grid-template-columns: 1.5fr repeat(3, 1.3fr) 1.5fr;
		align-items: center;
		list-style: none;
		background-size: contain;
	}

	li {
		position: relative;
	}

	.first {
		justify-self: start;
	}

	.last {
		justify-self: end;
	}

	li.active {
		font-weight: 700;
	}

	.dash-after a::after {
		content: '';
		width: 2px;
		height: 50%;
		border-radius: 999999px;
		background-color: lch(70% var(--yellow-ch));
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%) rotateZ(15deg);
	}

	nav .nav-link {
		display: grid;
		height: 100%;
		justify-items: center;
		/* align-items: center; */
		padding: 0 1em;
		color: var(--heading-color);
		text-decoration: none;
		transition: color 0.2s linear;
		white-space: nowrap;
	}

	a:hover {
		color: var(--accent-color);
	}
</style>
