<script lang="ts">
	import { page } from '$app/stores'
	import logo from './musikens-hus-logo.svg'
	import { links } from './links'
	import { navigation } from '$lib/navigation'
</script>

<div class="nav-wrapper">
	<div class="corner">
		<a href={navigation.home}>
			<img src={logo} alt="Musikens hus logo" />
		</a>
	</div>

	<nav data-sveltekit-prefetch>
		<ul>
			{#each links.topNav as link}
				<li class:active={$page.url.pathname === link.path} class="body-M">
					<a href={link.path}>{link.displayName}</a>
				</li>
			{/each}
		</ul>
	</nav>

	<!-- <div class="corner">
		TODO put something else here? github link?
	</div> -->
</div>

<style>
	.nav-wrapper {
		display: flex;
		justify-content: space-between;
		padding: 20px;
		border-bottom: 2px solid lch(70% var(--yellow-ch));
	}

	.corner {
		height: 100%;
	}

	.corner a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	.corner img {
		height: clamp(2.5rem, 6vw, 4rem);
		object-fit: contain;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	ul {
		position: relative;
		padding: 0;
		margin: 0;
		height: 3em;
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		background-size: contain;
	}

	li {
		position: relative;
		height: 100%;
	}

	li.active {
		font-weight: 700;
	}

	li:not(:last-child) a::after {
		content: '';
		width: 2px;
		height: 50%;
		border-radius: 999999px;
		background-color: lch(70% var(--yellow-ch));
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%) rotateZ(15deg);
	}

	nav a {
		display: flex;
		height: 100%;
		align-items: center;
		padding: 0 1em;
		color: var(--heading-color);
		text-decoration: none;
		transition: color 0.2s linear;
	}

	a:hover {
		color: var(--accent-color);
	}
</style>
