<script lang="ts">
	import { page } from '$app/stores'
	import { links } from '$lib/nav/links'

	export let onNavigate: () => void = () => {}
</script>

<div data-sveltekit-prefetch class="side-panel-nav heading-M">
	<!-- {#each [...links.sideNav, ...links.sideNav, ...links.sideNav, ...links.sideNav, ...links.sideNav, ...links.sideNav, ...links.sideNav, ...links.sideNav, ...links.sideNav, ...links.sideNav] as link} -->
	{#each links.sideNav as link}
		<a href={link.path} class:active={$page.url.pathname === link.path} on:click={onNavigate}>
			<svelte:component this={link.icon} size="lg" />{link.displayName}</a
		>
	{/each}
</div>

<style>
	.side-panel-nav {
		display: flex;
		flex-direction: column;
		/* justify-content: end; */
	}

	a {
		padding: var(--space-xs) var(--space-s);
		text-align: end;
		color: lch(30% var(--gray-ch));
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		min-width: 0;
		width: 100%;
	}

	a.active {
		color: lch(60% var(--yellow-ch));
	}
</style>
