<script lang="ts">
	import FacebookLogo from '$lib/logos/facebook/facebook_logo.svelte'
	import ButtonLink from './button-link.svelte'

	export let href: string
	export let text: string = 'Facebook'
</script>

<ButtonLink {href} variant="unset" backgroundColor="#0866ff">
	<FacebookLogo slot="icon-left" />
	{text}
</ButtonLink>
