<script lang="ts">
import InstagramLogo from '$lib/logos/instagram/instagram_logo.svelte'
import ButtonLink from './button-link.svelte'

export let href: string
export let text: string = "Instagram"
</script>

<ButtonLink
  {href}
  variant="unset"
  backgroundImage="linear-gradient(72.44deg, #ff7a00 11.92%, #ff0169 51.56%, #d300c5 85.69%)"
>
	<InstagramLogo slot="icon-left" />
  {text}
</ButtonLink>
