<script lang="ts">
	import PatreonLogo from '$lib/logos/patreon/patreon_logo.svelte'
	import ButtonLink from './button-link.svelte'

	export let href: string
	export let text: string = 'Patreon'
</script>

<ButtonLink {href} variant="unset" backgroundColor="#070707">
	<PatreonLogo slot="icon-left" />
	{text}
</ButtonLink>
