<script lang="ts">
	import type { Link } from './social-link.ts'
	import ButtonLink from './button-link.svelte'
	import FacebookLink from './facebook-link.svelte'
	import InstagramLink from './instagram-link.svelte'
	import PatreonLink from './patreon-link.svelte'
	import YoutubeLink from './youtube-link.svelte'

	export let link: Link
</script>

{#if link.type === 'facebook'}
	<FacebookLink href={link.url} text={link.text} />
{:else if link.type === 'instagram'}
	<InstagramLink href={link.url} text={link.text} />
{:else if link.type === 'patreon'}
	<PatreonLink href={link.url} text={link.text} />
{:else if link.type === 'youtube'}
	<YoutubeLink href={link.url} text={link.text} />
{:else if link.type === 'home'}
	<ButtonLink href={link.url} variant="primary">{link.text ?? 'Hemsida'}</ButtonLink>
{:else}
	<ButtonLink href={link.url} variant="secondary">{link.text ?? 'Hemsida'}</ButtonLink>
{/if}
