<script lang="ts">
	import YoutubeLogo from '$lib/logos/youtube/youtube_logo.svelte'
	import ButtonLink from './button-link.svelte'

	export let href: string
	export let text: string = 'Youtube'
</script>

<ButtonLink {href} variant="unset" backgroundColor="#FF0000">
	<YoutubeLogo slot="icon-left" />
	{text}
</ButtonLink>
