<script lang="ts">
	import type { Act } from './act'
	import { actHeightFractionOfDuration } from './act_position'
	import { generateTimeSlots } from './generate_time_slots'
	import { locationsFromActs } from './locations_from_acts'
	import { fractionOfDuration } from './franction_of_duration'
	import { formatTemporal } from '$lib/format-temporal'
	import { totalDuration } from './total_duration'
	import type { Duration } from './duration'

	export let acts: Act[]
	export let width: string = '100%'
	export let maxWidth: string = '100%'
	export let minutesPerTimeSlot: number = 15
	export let now: undefined | Date = undefined

	const timeColumnWidth = 'clamp(4rem, 12%, 8rem)'
	const columnBorderWidth = '1px'
	const borderColor = '#ccc'
	const timeSlotHeight = '100px'
	const headerBackground = '#f0f0f0'
	const bodyBackground = 'white'

	$: sortedActs = acts.toSorted((a, b) => a.startTime.getTime() - b.startTime.getTime())

	$: locations = locationsFromActs(sortedActs)

	$: firstActStart = sortedActs.length > 0 ? sortedActs[0].startTime : new Date()
	$: lastActEnd = sortedActs.length > 0 ? sortedActs[sortedActs.length - 1].endTime : new Date()

	$: timeSlots = generateTimeSlots(minutesPerTimeSlot)(firstActStart, lastActEnd)
	$: timeSlotsDuration = totalDuration(timeSlots)

	const isTimeInDuration = (time: Date, duration: Duration) => {
		const timeMs = time.getTime()
		const startMs = duration.start.getTime()
		const endMs = duration.end.getTime()

		const isIn = timeMs >= startMs && timeMs < endMs

		return isIn
	}

	const round = (num: number, decimalPlaces = 0): number => {
		if (num < 0) return -round(-num, decimalPlaces)
		const p = Math.pow(10, decimalPlaces)
		const n = Number((num * p).toPrecision(15))
		return Math.round(n) / p
	}

	const fractionToPercentage = (fraction: number) => `${fraction * 100}%`

	const formatTime = (time: Date) => formatTemporal.time(time)

	const formatActTime = (act: Act) => `${formatTime(act.startTime)} - ${formatTime(act.endTime)}`
</script>

{#if timeSlotsDuration !== null}
	<div
		class="table body-S"
		style:--time-column-width={timeColumnWidth}
		style:--column-border-width={columnBorderWidth}
		style:--number-of-locations={locations.length}
		style:--border-color={borderColor}
		style:--time-slot-height={timeSlotHeight}
		style:--header-background={headerBackground}
		style:--body-background={bodyBackground}
		style:--width={width}
		style:--max-width={maxWidth}
	>
		<div class="header row">
			<span class="time cell"></span>
			{#each locations as location}
				<span class="cell">{location}</span>
			{/each}
		</div>

		<div class="table-body">
			{#each timeSlots as time}
				<div class="row">
					<span class="time cell" class:hide={now !== undefined && isTimeInDuration(now, time)}>
						{time.start.toLocaleTimeString(['sv'], {
							hour: '2-digit',
							minute: '2-digit',
						})}
					</span>
					{#each locations as _}
						<span class="cell"></span>
					{/each}
				</div>
			{/each}
			{#each sortedActs as act}
				{@const left = `calc(${timeColumnWidth} + ${columnBorderWidth} + ((100% - ${timeColumnWidth}) / ${locations.length}) * ${locations.indexOf(act.location)})`}
				{@const width = `calc((100% - ${timeColumnWidth}) / ${locations.length} - ${columnBorderWidth})`}
				{@const top = fractionToPercentage(fractionOfDuration(act.startTime, timeSlotsDuration))}
				{@const height = fractionToPercentage(
					actHeightFractionOfDuration(act, firstActStart, timeSlots[timeSlots.length - 1].end),
				)}
				{#if act.url !== undefined}
					<a
						href={act.url}
						class="act"
						style:--left={left}
						style:--width={width}
						style:--top={top}
						style:--height={height}
					>
						<h3>
							{act.name}
						</h3>
						<p>{formatActTime(act)}</p>
					</a>
				{:else}
					<div
						class="act"
						style:--left={left}
						style:--width={width}
						style:--top={top}
						style:--height={height}
					>
						<h3>
							{act.name}
						</h3>
						<p>{formatActTime(act)}</p>
					</div>
				{/if}
			{/each}
			{#if now !== undefined && isTimeInDuration(now, timeSlotsDuration)}
				<div
					class="now"
					style:--top={fractionToPercentage(round(fractionOfDuration(now, timeSlotsDuration), 4))}
				>
					<div class="time-container">
						<span class="time">
							{formatTime(now)}
						</span>
					</div>
				</div>
			{/if}
		</div>
	</div>
{/if}

<style>
	.table {
		width: var(--width);
		max-width: var(--max-width);
		background: var(--border-color);
		display: grid;
		gap: 2px;
		border: var(--column-border-width) solid var(--border-color);
	}

	.table-body {
		display: grid;
		gap: var(--column-border-width);
		position: relative;
	}

	.table .row {
		display: grid;
		gap: var(--column-border-width);
		grid-template-columns: var(--time-column-width) repeat(var(--number-of-locations), 1fr);
	}

	.table .header {
		font-weight: 700;
	}

	.table .header .cell {
		background: var(--header-background);
		text-align: center;
		padding-block: var(--space-xs);
	}

	.table :not(.header) .cell {
		background: var(--body-background);
		text-align: center;
		line-height: var(--time-slot-height);
	}

	.cell.hide {
		color: transparent;
	}

	.act {
		--border-thickness: 2px;
		text-decoration: none;
		position: absolute;
		left: var(--left);
		width: var(--width);
		top: var(--top);
		height: var(--height);
		background: lch(72% var(--yellow-ch));
		text-align: center;
		padding-top: var(--space-2xs);
		padding-inline: var(--space-2xs);
		border-radius: 0.5rem;
		transition: all 0.15s ease;
		word-break: word-break;
		overflow: hidden;
		border: var(--border-thickness) solid black;

		& h3 {
			font-weight: 500;
		}
	}

	.act:hover {
		background: lch(65% var(--yellow-ch));
	}

	.now {
		--inline-padding: var(--space-2xs);

		position: absolute;
		top: var(--top);
		left: 0;
		width: 100%;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: var(--inline-padding);
			right: var(--inline-padding);
			height: 2px;
			border-radius: 99999px;
			background: lch(55% var(--yellow-ch));
		}
	}

	.time-container {
		position: relative;
		width: var(--time-column-width);

		& .time {
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			text-align: center;
		}
	}
</style>
