<script lang="ts">
	import { Schedule } from '$lib/schedule'
	import { groupByDay, shiftToCustomDay, sortGroupedByDate } from '$lib/date'
	import type { Act } from './act-data'
	import { ArrowRightOutline, CaretDownSolid, CaretUpSolid } from 'flowbite-svelte-icons'
	import Icon from '$lib/icon.svelte'
	import { formatTemporal } from '$lib/format-temporal'
	import { onMount } from 'svelte'
	import { slide } from 'svelte/transition'

	export let data

	let openIndex: undefined | number = 1

	const shiftBySixHours = shiftToCustomDay(6)

	const groupedByDay = groupByDay<Act>(
		(r) => r.startTime,
		(r) => r.endTime,
		shiftBySixHours,
	)(data.acts)

	const actsPerDay = sortGroupedByDate(groupedByDay)

	let now = new Date()

	onMount(() => {
		setInterval(() => {
			now = new Date()
		}, 5000)
	})
</script>

<div class="content readable-column-width">
	<section class="sub-section">
		<h1 class="heading-L">Kulturnatten i Knäppingsborg 2024</h1>
		<p class="body-M">
			Musikens hus fick den stora äran att arrangera musikakterna i Knäppingsborg under årets
			festligaste event, Kulturnatten.
		</p>
	</section>

	<section class="sub-section">
		{#each actsPerDay as [day, acts], rowIndex}
			{@const isOpen = rowIndex === openIndex}
			<div class="event-day">
				<button
					on:click={() => {
						isOpen ? (openIndex = undefined) : (openIndex = rowIndex)
					}}
				>
					<h2 class="heading-S day-header">
						{#if isOpen}
							<CaretUpSolid />
						{:else}
							<CaretDownSolid />
						{/if}
						{formatTemporal.weekdayInMonth(new Date(day))}
					</h2>
				</button>
				{#if rowIndex === openIndex}
					<div transition:slide={{ duration: 150 }} class="sub-section">
						<a class="action-M day-link" href={`/event-information/culture-night-2024/${day}`}
							>Se bara denna dag <Icon icon={ArrowRightOutline} /></a
						>
						<Schedule {acts} minutesPerTimeSlot={30} {now} />
					</div>
				{/if}
			</div>
		{/each}
	</section>
</div>

<style>
	.content {
		--row-divider-color: lch(70% var(--yellow-ch));
		display: grid;
		row-gap: var(--space-l);
		margin: 0 auto;
		padding-block: var(--space-l);
		padding-inline: var(--space-s);
	}

	.sub-section {
		display: grid;
		gap: var(--space-xs);
	}

	.event-day {
		display: grid;
		row-gap: var(--space-s);
	}

	.day-header {
		display: flex;
		align-items: center;
		gap: var(--space-xs);
	}

	.day-link {
		display: flex;
		align-items: center;
		gap: var(--space-2xs);
	}

	h2 {
		& a {
			color: rgb(var(--gray-80));
			display: flex;
			gap: var(--space-2xs);
			align-items: center;
		}
	}
</style>
