<script lang="ts">
	import { Schedule } from '$lib/schedule'
	import { formatTemporal } from '$lib/format-temporal'
	import { onMount } from 'svelte'

	export let data

	const { acts, day } = data

	let now = new Date()

	onMount(() => {
		setInterval(() => {
			now = new Date()
		}, 5000)
	})
</script>

<div class="content readable-column-width">
	<h1 class="heading-L">{formatTemporal.weekdayInMonth(new Date(day))}</h1>
	{#if acts.length > 0}
		<Schedule {acts} minutesPerTimeSlot={30} />
	{:else}
		<p class="body-M">Inga aktiviteter i denna dag 🤷</p>
	{/if}
</div>

<style>
	.content {
		--row-divider-color: lch(70% var(--yellow-ch));
		display: grid;
		row-gap: var(--space-m);
		margin: 0 auto;
		padding-block: var(--space-l);
		padding-inline: var(--space-s);
	}
</style>
