<script lang="ts">
	export let color = 'currentColor'
	export let size = 'var(--icon-size, 100%)'
</script>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="6 0 20 30" fill={color} style:--size={size}>
	<path
		d="M 17.253906 0 C 13.311906 0 11 2.0821719 11 6.8261719 L 11 11 L 6 11 L 6 16 L 11 16 L 11 28 L 16 28 L 16 16 L 20 16 L 21 11 L 16 11 L 16 7.671875 C 16 5.884875 16.582766 5 18.259766 5 L 21 5 L 21 0.20507812 C 20.526 0.14107812 19.144906 0 17.253906 0 z"
	/>
</svg>

<style>
	svg {
		height: var(--size);
		aspect-ratio: 1;
	}
</style>
