<script lang="ts">
	import { ArrowRightOutline, ArrowUpRightFromSquareOutline } from 'flowbite-svelte-icons'
	import Icon from './icon.svelte'

	export let href: string
	export let withArrow = true
	export let width: string = 'initial'
	export let maxWidth: string = 'initial'
	export let justifySelf: string = 'initial'
	export let backgroundColor: string | undefined = undefined
	export let backgroundImage: string | undefined = undefined

	export let variant: 'primary' | 'secondary' | 'unset' = 'primary'

	let isExternal = href.startsWith('http')
</script>

<a
	{href}
	class={`button-like action-M ${variant}`}
	style:--width={width}
	style:--max-width={maxWidth}
	style:--justify-self={justifySelf}
	style:--background-color={backgroundColor}
	style:--background-image={backgroundImage}
>
	<span><slot name="icon-left" /></span>
	<span>
		<slot />
	</span>

	{#if withArrow}
		<span>
			{#if isExternal}
				<Icon icon={ArrowUpRightFromSquareOutline} />
			{:else}
				<Icon icon={ArrowRightOutline} />
			{/if}
		</span>
	{/if}
</a>

<style>

.unset {
  background-color: var(--background-color);
  background-image: var(--background-image);
}
</style>
