<script lang="ts">
	export let color = 'lch(70% var(--yellow-ch))'
	// export let color = 'var(--primary-gradient)'
	export let thickness = '2px'
	export let length = '100%'
</script>

<div
	class="horizontal-line"
	style:--color={color}
	style:--thickness={thickness}
	style:--length={length}
></div>

<style>
	.horizontal-line {
		width: var(--length);
		height: var(--thickness);
		background: var(--color);
	}
</style>
