<script lang="ts">
	import type { ComponentType } from 'svelte'

	export let icon: ComponentType
	export let size: string = 'var(--icon-size, 100%)'
	export let color: string = 'currentColor'
</script>

<div style:--size={size} style:--color={color}>
	<svelte:component this={icon} class="h-full w-full" {color} />
</div>

<style>
	div {
		height: var(--size);
		aspect-ratio: 1;
		color: var(--color);
	}
</style>
