<script lang="ts">
	import { onMount } from 'svelte'

	export let jpgPath: string
	export let name: string
	export let mail: string

	let height = 100

	// let paddingElement: Element

	// onMount(() => {
	// 	// const l = paddingElement.querySelector('iframe')
	// 	// l?.remove()
	// })
</script>

<div class="people-frame">
	<picture>
		<source srcset={jpgPath} type="image/jpeg" />
		<img src={jpgPath} alt={name} />
	</picture>
	<div class="padding" bind:clientHeight={height} style="margin-bottom: -{height / 2}px;">
		<div class="information">
			<a href={`mailto:${mail}`}>
				<h3 class="heading-S">{name}</h3>
				<p class="body-XS">{mail}</p>
			</a>
		</div>
	</div>
</div>

<style>
	.people-frame {
		width: 100%;
		max-width: 250px;
		position: relative;
	}

	img {
		object-fit: cover;
		width: 100%;
		max-height: 100%;
	}

	.padding {
		/* padding: 0 1rem; */
		width: 80%;
		transform: translate(10%, -50%);
	}

	.information {
		/* width: 80%; */
		background: rgb(var(--red-60));
		border-radius: var(--border-radius-m);
		padding: 1rem 0;
		overflow: hidden;
	}

	.information h3,
	p {
		color: white;
		text-align: center;
	}
</style>
