<script lang="ts">
	import { calculateDateDifference } from './calculate-date-difference'

	export let fromDate: Date
	export let toDate: Date

	const displayTextMap = new Map([
		['months', 'månader'],
		['days', 'dagar'],
		['hours', 'timmar'],
		['minutes', 'minuter'],
		['seconds', 'sekunder']
	])

	$: differences = Object.entries(calculateDateDifference(fromDate, toDate))
</script>

<section class="differences-container">
	{#each differences as [unit, difference], i}
		{#if differences.slice(0, i).some((d) => d[1] > 0) || difference > 0}
			<div class="difference-container text-shadow">
				<span class="difference heading-L">
					{difference}
				</span>
				<span class="unit body-M">
					{displayTextMap.get(unit) ?? ''}
				</span>
			</div>
		{/if}
	{/each}
</section>

<style>
	.differences-container {
		display: flex;
		justify-content: space-between;
		column-gap: 1em;
		width: 100%;
	}

	.differences-container span {
		color: white;
	}

	.difference-container {
		display: grid;
		text-align: center;
	}

	.difference {
		font-weight: bold;
	}
</style>
