<script lang="ts">
	import PeopleFrame from '$lib/people-frame.svelte'
	import RootProductionsLogo from '$lib/logos/root-productions/root-productions.svelte'
	import { navigation } from '$lib/navigation'

	const people = [
		{
			// webpPath: 'people/Joakim.webp',
			jpgPath: 'people/Joakim-min.jpg',
			name: 'Joakim Leion',
			mail: 'joakim@root.productions',
		},
		{
			// webpPath: 'people/Dennis.webp',
			jpgPath: 'people/Dennis-min.jpg',
			name: 'Dennis Wenger',
			mail: 'dennis@root.productions',
		},
	]
</script>

<svelte:head>
	<title>Root Productions</title>
	<meta name="description" content="About the company Root Productions" />
</svelte:head>

<div class="content">
	<section class="text-section readable-column-width">
		<h1 class="heading-L">Root Productions</h1>

		<p class="body-M">
			Root Productions är namnet på företaget som står bakom Musikens hus. Vi är ett gäng med
			hjärtat i musiken som vill erbjuda funktioner och lösningar för att hjälpa musikers vardag och
			froda kulturens utveckling.
		</p>
	</section>

	<section class="logo-section">
		<a href={navigation.about}>
			<RootProductionsLogo />
		</a>
	</section>

	<section class="people">
		{#each people as { jpgPath, name, mail }}
			<PeopleFrame {jpgPath} {name} {mail} />
		{/each}
	</section>
</div>

<style>
	.content {
		width: 100%;
		display: grid;
		row-gap: 4rem;
		justify-items: center;
		padding-top: 2rem;
		padding-bottom: 4rem;
	}

	.people {
		display: grid;
		row-gap: 2rem;
		max-width: 800px;
		padding: 0 1rem;
		column-gap: 2rem;
		grid-template-columns: repeat(2, 1fr);
	}

	.logo-section {
		/* 
			I don't know why, but can't seem to get it to properly scale to the width
			and also adhere to the padding. But it works on Safari..
		*/
		/* width: 100%; */
		max-width: var(--column-max-width);
		padding: 0 2rem;
	}

	a {
		width: 100%;
	}

	@media only screen and (max-width: 880px) {
		.people {
			max-width: var(--column-max-width);
			grid-template-columns: 1fr;
		}
	}
</style>
