<script lang="ts">
	import InstagramLogo from '$lib/logos/instagram/instagram_logo.svelte'
	import FacebookLogo from '$lib/logos/facebook/facebook_logo.svelte'
	import PatreonLogo from '$lib/logos/patreon/patreon_logo.svelte'
	import { environment } from '$lib/environment'

	const { facebookUrl, instagramUrl, patreonUrl } = environment()
</script>

<footer class="playful-L">
	<div class="footer-section">
		<p>Bli Patreon -></p>
		<ul>
			<li>
				<a href={patreonUrl} class="image-link">
					<PatreonLogo />
				</a>
			</li>
		</ul>
	</div>
	<div class="footer-section">
		<p>Följ oss på -></p>
		<ul>
			<li>
				<a href={facebookUrl} class="image-link">
					<FacebookLogo />
				</a>
			</li>
			<li>
				<a href={instagramUrl} class="image-link">
					<InstagramLogo />
				</a>
			</li>
		</ul>
	</div>
</footer>

<style>
	footer {
		width: 100%;
		min-width: 100%;
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-between;
		background: rgb(var(--gray-80));
		padding-left: var(--space-s);
	}

	.footer-section {
		display: flex;
		align-items: center;
		color: white;
		gap: var(--space-xs);

		& > * {
			color: white;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		list-style: none;
	}

	a {
		display: flex;
		align-items: center;
		padding: var(--space-s) var(--space-xs);
		color: white;
		transition: all ease 0.15s;

		&:hover {
			color: lch(75% var(--yellow-ch));
		}
	}

	@media (max-width: 500px) {
		footer {
			grid-template-columns: 1fr;
			justify-items: end;
			padding-block: var(--space-xs);
		}

		a {
			padding: var(--space-xs);
		}
	}
</style>
