<script lang="ts">
	import ButtonLink from '$lib/button-link.svelte'
	import { environment } from '$lib/environment'
	import { memberships } from '$lib/memberships'
	import { navigation } from '$lib/navigation'
	import { features } from './features'
	import MembershipComparisonTable from './membership-comparison-table.svelte'
	import MembershipSection from './membership-section.svelte'

	const { patreonUrl } = environment()
</script>

<svelte:head>
	<title>Coworking</title>
	<meta name="description" content="Information about coworking" />
</svelte:head>

<div class="content readable-column-width">
	<section class="sub-section first body-M">
		<h1 class="heading-XL">Coworking</h1>

		<p>
			Mitt i stan, i ett litet gult hus från 1804 finner du Norrköpings antagligen minsta och
			mysigaste coworking space. Med en tydlig nisch åt musik är det en mötesplats och arbetsplats
			för drivna entreprenörer inom musik- och event-branschen. I Musikens hus hittar du t.ex
			artister, musikproducenter och instrumentpedagoger under samma tak. Här lär vi oss konstant
			nya saker av varandra och samverkar i olika projekt! Utöver de öppna kontorsytorna finns flera
			musikstudios eller “kreativa rum” där vi skapat en optimal miljö för skapade och kreativt
			arbete. Omges av likasinnade människor i Norrköpings bästa musiknätverk. Där alla
			förutsättningar för att skapa och jobba med musik inte bara finns, utan alltid är redo! Alla
			dagar i veckan. Alla timmar på dygnet.
		</p>

		<a href={`${navigation.membership._root}#comparison-table`}>Jämför medlemskapen →</a>

		<enhanced:img
			src="$assets/coworking/coffee-stacked.jpg"
			fetchpriority="high"
			loading="eager"
			alt="Coffe mugs stacked on top of each other"
			class="image coffee"
		/>
	</section>

	{#each memberships as membership}
		<MembershipSection {membership} />
	{/each}

	<enhanced:img
		src="$assets/coworking/smiling-alma.jpg"
		alt="Girl smiling at a desk"
		class="image alma square"
	/>

	<div class="comparison-section">
		<h2 class="heading-L" id="comparison-table">Jämför medlemskapen</h2>
		<MembershipComparisonTable {features} />
	</div>

	<enhanced:img
		src="$assets/coworking/piano-johan.jpg"
		alt="Guy playing piano"
		class="image johan"
	/>
	<section class="sub-section body-M">
		<ButtonLink href={navigation.contact} width="100%" maxWidth="25rem" justifySelf="center"
			>Kontakta oss</ButtonLink
		>
		<p>
			Vill du bli en del av vårt nätverk, komma på medlemsträffar eller bara stötta vår verksamhet?
			Då finns även alternativet att <a href={patreonUrl}>bli en Patreon-medlem.</a>
		</p>
	</section>
</div>

<style>
	.content {
		--row-divider-color: lch(70% var(--yellow-ch));
		/* width: 100%; */
		display: grid;
		row-gap: var(--space-l);
		margin: 0 auto;
		/* justify-items: center; */
		padding-block: var(--space-l);
		padding-inline: var(--space-s);
	}

	.sub-section {
		display: grid;
		gap: var(--space-xs);
	}

	.first {
		gap: var(--space-s);
	}

	.comparison-section {
		display: grid;
		row-gap: var(--space-s);
	}

	.image {
		width: 100%;
		object-fit: cover;
	}

	.image.square {
		aspect-ratio: 1;
	}
</style>
