<script lang="ts" generics="TMembershipType extends MembershipType">
	import { type Membership, type MembershipType } from '$lib/memberships'

	export let membership: Membership<TMembershipType>
</script>

<section class="sub-section body-M">
	<h2 class="heading-L">
		<span class="emoji heading-M">
			{membership.emoji}
		</span>
		{membership.name}
	</h2>
	<p>
		{membership.description.medium}
	</p>

	<p>Kostar <strong>{membership.price.withoutTax} kr</strong> ex. moms per månad</p>

	<!-- <a href={membership.link}> Läs mer om {membership.name} →</a> -->
</section>

<style>
	.sub-section {
		display: grid;
		gap: var(--space-xs);
	}

	.heading-L {
		display: flex;
		gap: var(--space-xs);
	}
</style>
