<script lang="ts">
	import { slide } from 'svelte/transition'
	import type { Feature } from './features'
	import { memberships } from '$lib/memberships'
	import { CaretDownSolid, CaretUpSolid } from 'flowbite-svelte-icons'
	import { onMount } from 'svelte'

	export let features: Feature[] = []

	let openIndex: undefined | number = undefined

	let rotatingGuitarVector: undefined | [number, number] = undefined

	// const rotate = (node: Element): TransitionConfig => {
	// 	return {
	// 		css() {
	// 			return `transform: rotate(${180}deg);`
	// 		}
	// 	}
	// }

	const getRandomVector = (): [number, number] => {
		const rowIndex = Math.floor(Math.random() * features.length)
		const columnIndex = Math.floor(Math.random() * memberships.length)
		return [rowIndex, columnIndex]
	}

	const vectorIsTrue = ([rowIndex, columnIndex]: [number, number]) => {
		const { networker, creator } = features[rowIndex]

		return [networker, creator][columnIndex]
	}

	onMount(() => {
		setInterval(() => {
			let vector = getRandomVector()

			while (!vectorIsTrue(vector) || vector === rotatingGuitarVector) {
				vector = getRandomVector()
			}

			rotatingGuitarVector = vector
		}, 15000)
	})
</script>

<div class="table body-M">
	<div class="row header heading-S">
		<span></span>
		{#each memberships as membership}
			<span>
				<span class="membership-name">
					{membership.name}
				</span>
				{membership.emoji}
			</span>
		{/each}
	</div>

	{#each features as { name, networker, creator, description }, rowIndex}
		{@const memberships = [networker, creator]}
		{@const isOpen = rowIndex === openIndex}
		<button
			class="row"
			class:open={isOpen}
			on:click={() => {
				isOpen ? (openIndex = undefined) : (openIndex = rowIndex)
			}}
		>
			<span class="name">
				{#if isOpen}
					<CaretUpSolid />
				{:else}
					<CaretDownSolid />
				{/if}

				<span class="name-text">{name}</span></span
			>
			{#each memberships as member, columnIndex}
				{@const isRotating =
					rotatingGuitarVector &&
					rotatingGuitarVector[0] === rowIndex &&
					rotatingGuitarVector[1] === columnIndex}
				<span class="value" class:rotate={isRotating}>{member ? '🎸' : ''}</span>
			{/each}
		</button>
		{#if rowIndex === openIndex}
			<p transition:slide={{ duration: 150 }}>{description}</p>
		{/if}
	{/each}
</div>

<style>
	@keyframes rotate {
		0% {
			transform: rotateZ(0deg) scale(1);
		}
		30% {
			transform: rotateZ(-70deg) scale(1);
		}
		75% {
			transform: rotateZ(280deg) scale(1.4);
		}
		90% {
			transform: rotateZ(415deg) scale(1.1);
		}
		100% {
			transform: rotateZ(360deg) scale(1);
		}
	}

	.table {
		justify-self: center;
		display: grid;
		justify-items: center;
		width: 100%;
	}

	.row {
		display: grid;
		width: 100%;
		justify-content: center;
		justify-items: center;
		grid-template-columns: 1fr repeat(2, calc(1rem + 6vw));
		border-bottom: solid 1px var(--row-divider-color);
		background: var(--blue-50);
	}

	p {
		width: 100%;
		padding-left: var(--space-s);
		padding-block: var(--space-2xs);
	}

	.row:not(.header) {
		align-items: center;
		text-align: center;
	}

	.row:not(.header) > span:not(:first-child) {
		/* border: solid 1px black; */
		height: 100%;
		width: 100%;
	}

	.row.header {
		align-items: end;
	}

	.row > .name {
		justify-self: start;
		display: flex;
		align-items: center;
	}

	.header .membership-name {
		writing-mode: vertical-rl;
		text-orientation: upright;
		text-transform: uppercase;
	}

	.header > span {
		display: flex;
		flex-direction: column;
		gap: var(--space-xs);
	}

	span:not(:first-child) {
		padding: var(--space-2xs);
	}

	.rotate {
		--easing: cubic-bezier(0.68, -0.6, 0.32, 1.6);
		animation-name: rotate;
		animation-duration: 0.9s;
		animation-timing-function: linear;
	}

	.open .name-text {
		font-weight: 500;
	}
</style>
