<script>
	import { navigation } from '$lib/navigation'
</script>

<svelte:head>
	<title>What is Musikens hus?</title>
	<meta name="description" content="What is Musikens hus?" />
</svelte:head>

<div class="content">
	<section class="text-section readable-column-width">
		<h2 class="heading-L">Vad är Musikens hus?</h2>
		<p class="body-M">
			Ett studiokollektiv från framtiden. En mötesplats och arbetsplats för drivna entreprenörer
			inom musik- och event-branschen. Här möts musikproducenter, artister, frilansande musiker,
			skivbolag, instrumentpedagoger och eventbokare under samma tak. Vi ger er alla förutsättningar
			för att sömlöst vara kreativa och jobba. Tillsammans skapar vi en härlig atmosfär präglad av
			samarbete, stöttning, utbyten, och vidgar våra kontaktnät. Kostnaden för ett medlemsskap i
			Musikens hus är en bråkdel av vad du får tillbaka i värde.
		</p>
		<p class="body-M">
			Huset är ett modern coworking space där det kommer finnas arbetsplatser med skrivbord, liksom
			ytor för häng och nätverkande. Det kommer också finnas tre stycken <strong
				>toppmoderna studios</strong
			>
			som man som medlem kan använda för att spela in sig själv eller andra. Unikt för huset är att alla
			rum kommer <strong>kunna spela in från och till alla rum</strong>, vilket gör att
			musikproduktioner kan skala från det väldigt lilla till det väldigt stora. Med det hoppas vi
			kunna locka både stans bästa musikproducenter och stora artister och band som vill spela in i
			Norrköping.
		</p>
		<p class="body-M">
			Huset har också en scen, där man kommer kunna göra <strong
				>videoproduktioner och streaming</strong
			>, bjuda in till små spelningar eller bara spela in med det akustiska pianot eller trumsetet
			som står här. Var än man befinner sig i huset kommer vägen till ett kreativt flow alltid vara
			oerhört kort.
		</p>
	</section>

	<picture class="image">
		<source srcset="guitar-in-front-of-piano.webp" type="image/webp" />
		<source srcset="guitar-in-front-of-piano.jpg" type="image/jpeg" />
		<img src="guitar-in-front-of-piano.jpg" alt="Guitar in front of piano" />
	</picture>

	<section class="text-section readable-column-width">
		<h2 class="heading-L">Vad kostar ett medlemskap?</h2>
		<p class="body-M">
			Ett medlemskap i Musikens hus kostar 2 200 kr exklusive moms per person och månad.
		</p>
		<p class="body-M">
			Är du intresserad av ett medlemskap i Musikens hus? Skicka en intresseanmälan så hör vi av
			oss!
		</p>
		<a href={navigation.contact} class="body-M"><strong>Bli medlem! →</strong></a>
	</section>
</div>

<style>
	.content {
		width: 100%;
		display: grid;
		row-gap: 4rem;
		justify-items: center;
		padding-bottom: 4rem;
		padding-top: 2rem;
	}

	.text-section {
		display: grid;
		row-gap: 2rem;
		padding: 0 2rem;
	}

	img {
		object-fit: cover;
		width: 100%;
		height: 50vh;
	}

	a {
		color: rgb(var(--blue-60));
		width: 100%;
		text-align: center;
	}
</style>
