<script>
	import { environment } from '$lib/environment'

	const { patreonUrl } = environment()
</script>

<svelte:head>
	<title>Event</title>
	<meta name="description" content="Information about events" />
</svelte:head>

<div class="content readable-column-width">
	<section class="sub-section first body-M">
		<h1 class="heading-XL">Event</h1>
		<p>
			I ett hus fyllt av duktiga musiker, hur kan man inte göra event? Vi arrangerar roliga spex för
			svensexor/möhippor/kickoffer och liknande. Vi arrangerar också regelbundet konserter.
		</p>
		<enhanced:img
			src="$assets/event/allsang-artist.jpg"
			fetchpriority="high"
			loading="eager"
			alt="Girl singing on stage"
			class="image stage-girl"
		/>
	</section>
	<section class="sub-section body-M">
		<h2 class="heading-M">Spex-event</h2>
		<p>
			Gör ett musikquiz hos oss eller spela in en sång tillsammans? Kanske med den blivande frun som
			får sitt livs möhippa? Eller varför inte en unik rolig kick-off med jobbet? Vi skapar ett
			roligt event som passar just er!
		</p>
		<enhanced:img
			src="$assets/event/company-singing.jpg"
			alt="Group singing into a microphone"
			class="image company-singing"
		/>
	</section>
	<section class="sub-section body-M">
		<h2 class="heading-M">Konserter</h2>
		<p>
			Vi älskar att spela inför folk och vi arrangerar ständigt konserter, ofta i det fantastiska
			kvarteret Knäppingsborg som vi håller till i. Håll koll på vår Instagram för att se vad vi har
			på gång!
		</p>
		<enhanced:img
			src="$assets/event/christmas-concert.jpg"
			alt="Music house concert in the winter"
			class="image christmas"
		/>
	</section>

	<section class="sub-section body-M">
		<p>
			Vill du att det ska vara mer musik i Norrköping? Fler konserter med duktiga lokala musiker? Då
			kan <a href={patreonUrl}>bli en Musikens hus-patreon</a> och stötta oss med ett frivilligt månadsbidrag.
			Pengarna gör att vi kan sätta upp fler fria konserter och betala musiker som engagerar sig. Tillsammans
			gör vi Norrköping lite roligare!
		</p>
	</section>
</div>

<style>
	.content {
		--row-divider-color: lch(70% var(--yellow-ch));
		display: grid;
		row-gap: var(--space-l);
		margin: 0 auto;
		padding-block: var(--space-l);
		padding-inline: var(--space-s);
	}

	.sub-section {
		display: grid;
		gap: var(--space-xs);
	}

	.first {
		gap: var(--space-s);
	}

	.image {
		width: 100%;
		object-fit: cover;
	}
</style>
