<script lang="ts">
	import { SocialLink } from '$lib/button-link'
	import Icon from '$lib/icon.svelte'
	import { ClockSolid, MapPinAltSolid, CaretLeftSolid } from 'flowbite-svelte-icons'

	export let data

	const { act } = data

	const formatDate = (startDate: Date, endDate: Date) => {
		// Array of weekday names in Swedish
		const weekdays = ['Söndag', 'Måndag', 'Tisdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lördag']

		// Get the weekday from the startDate
		const day = weekdays[startDate.getDay()]

		// Get the time, replacing ":" with "."
		const startTime = `${startDate.getHours().toString().padStart(2, '0')}.${startDate.getMinutes().toString().padStart(2, '0')}`
		const endTime = `${endDate.getHours().toString().padStart(2, '0')}.${endDate.getMinutes().toString().padStart(2, '0')}`

		return `${day}, ${startTime} - ${endTime}`
	}
</script>

<article class="content readable-column-width">
	<header class="header-section">
		<a href="/event-information/culture-night-2024" class="action-M back-link"
			><Icon icon={CaretLeftSolid} /> Gå till översikt</a
		>
		<h1 class="heading-XL" class:visually-hidden={act.hideHeader}>{act.name}</h1>
		<div class="logistics-container">
			<div class="action-M logistics">
				<Icon icon={ClockSolid} size="var(--icon-size, 1rem)" />
				<time datetime={act.startTime.toISOString()}>
					{formatDate(act.startTime, act.endTime)}
				</time>
			</div>
			<div class="action-M logistics">
				<Icon icon={MapPinAltSolid} size="var(--icon-size, 1rem)" />
				<span>{act.location}, Knäppingsborg</span>
			</div>
		</div>
	</header>
	{#if act.image}
		<enhanced:img
			src={act.image}
			fetchpriority="high"
			loading="eager"
			alt={`Artist image for ${act.name}`}
			class="image"
		/>
	{/if}

	{#if act.description}
		<section class="description body-M">
			{#each act.description as paragraph}
				<p>{paragraph}</p>
			{/each}
		</section>
	{/if}
	{#if act.links.length > 0}
		<section class="description body-M">
			<h2 class="heading-M">Följ {act.name} på</h2>
			<div class="link-section">
				{#each act.links as link}
					<SocialLink {link} />
				{/each}
			</div>
		</section>
	{/if}
</article>

<style>
	.content {
		--row-divider-color: lch(70% var(--yellow-ch));
		display: grid;
		row-gap: var(--space-m);
		margin: 0 auto;
		padding-block: var(--space-l);
		padding-inline: var(--space-s);
	}

	.back-link {
		display: flex;
		align-items: center;
		gap: var(--space-2xs);
	}

	.header-section {
		display: grid;
		gap: var(--space-xs);
	}

	.logistics-container {
		& p {
			color: lch(35% var(--gray-ch));
		}
	}

	.logistics {
		display: flex;
		align-items: center;
		gap: var(--space-xs);
	}

	.image {
		width: 100%;
		object-fit: cover;
	}

	.description {
		display: grid;
		row-gap: var(--space-s);
	}

	.link-section {
		display: grid;
		gap: var(--space-xs);
		max-width: 600px;
	}
</style>
