<script lang="ts">
	import ContactUs from '../../assets/contact-us.svg'
	import Envelope from '../../assets/envelope.svg'
</script>

<svelte:head>
	<title>Contact</title>
	<meta name="description" content="Contact" />
</svelte:head>

<div class="content">
	<section class="text-section readable-column-width">
		<h1 class="heading-XL">Kontakta oss</h1>
		<p class="body-M">
			Vill du veta mer om Musikens hus eller anmäla ditt intresse för ett medlemskap i huset?
			Kontakta oss via mail!
		</p>

		<a href="mailto:musikenshus@root.productions"
			><img src={Envelope} alt="Envelope icon" /><span class="body-M"
				>musikenshus@root.productions</span
			></a
		>
	</section>
	<img src={ContactUs} alt="Girl answering phone" class="contact-image" />
</div>

<style>
	.content {
		width: 100%;
		display: grid;
		row-gap: 4rem;
		justify-items: center;
		padding-top: 2rem;
		padding-bottom: 4rem;
	}

	.text-section {
		display: grid;
		row-gap: 2rem;
		padding: 0 2rem;
	}

	a {
		display: flex;
		column-gap: 1rem;
		align-items: center;
	}

	a img {
		width: clamp(2rem, calc(2vw + 2rem), 3rem);
	}

	a span {
		color: rgb(var(--blue-60));
	}

	.contact-image {
		width: 100%;
		max-width: var(--column-max-width);
	}
</style>
